@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #352D39;
}

button{
    background: none;
    border: 2px solid #FFFCF9;
    padding: 1em 2em;
    font-size: 1em;
    color: #FFFCF9;
    transition: all 0.2s;
}

button:hover{
    border-color: #B1EDE8;
    box-shadow: 0 1em 0.6em -0.4em #B1EDE8;
    transform: translateY(-0.25em);
    cursor: pointer;
}